{% extends 'hospital/base.html' %}

{% block title %} Patients {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="container text-center">
      {% include "hospital/includes/success_message.html" %}
    </div>
    <div class="container">
      <div id="exTab3">
        <ul  class="nav nav-pills">
    			<li class="active"><a  href="#1b" data-toggle="tab">Patients</a></li>
    			<li><a href="#2b" data-toggle="tab">In-Patients</a></li>
    			<li><a href="#3b" data-toggle="tab">Out-Patients</a></li>
    		</ul>

  			<div class="tab-content clearfix">
  			  <div class="tab-pane active" id="1b">
            {% include "reception/includes/patient_list.html"  %}
  				</div>

  				<div class="tab-pane" id="2b">
            {% include "reception/includes/in_patient_list.html" %}
  				</div>

          <div class="tab-pane" id="3b">
            {% include "reception/includes/out_patient_list.html" %}
  				</div>
  			</div>
      </div>

    </div>
  </div>

{% endblock content %}
