{% for billing in billings %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ billing.patient }}</td>
    <td>{{ billing.treatment }}</td>
    <td>{{ billing.charges }}</td>
    <td>
      <button type="button"
              class="btn btn-warning btn-sm js-update-billing"
              data-url="{% url 'finance:billing_update' pk=billing.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-billing"
              data-url="{% url 'finance:billing_delete' pk=billing.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="4" class="text-center bg-warning">No billing</td>
  </tr>
{% endfor %}
