{% extends 'malaika/base.html' %}

{% load staticfiles %}

{% block title %} Home {{ block.super }}{% endblock title %}

{% block content %}
    <div class="container index">
      <div class="container text-center">
        {% include "malaika/includes/success_message.html" %}
      </div>
      <div class="container jumbotron main-jumbo">
          <div class="text-center">
              <h2 class="hospital_name">{{ hospital_name|upper }}</h2> <br>
              <strong class="hospital_slogan">{{ hospital_slogan }} </strong><br>
              It to create a challenging learning environment that
              encourages high expectations for success through development-appropriate instruction
              that allows for individual differences and learning styles. Our school promotes a safe,
              orderly, caring, and supportive environment. Each student’s self-esteem is fostered by
              positive relationships with students and staff. We strive to have our parents, teachers, and community members actively involved on our students’ learning.
          </div>
      </div>
{% endblock content %}
