{% extends 'malaika/base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'malaika/js/modal.js' %}"></script>
{% endblock javascript %}


{% block content %}
  <div class="container">
    <h1 class="page-header">Rooms</h1>

    <!-- BUTTON TO TRIGGER THE ACTION -->
    <p>
      <button type="button"
              class="btn btn-primary js-create-room"
              data-url="{% url 'malaika:room_create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        New room
      </button>
    </p>

    <table class="table" id="room-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Room Number</th>
          <th>Room Type</th>
        </tr>
      </thead>
      <tbody>
        {% include 'malaika/includes/partial_room_list.html' %}
      </tbody>
    </table>

    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-room">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

  </div>

{% endblock %}
