*.pyc
*.sqlite3
.DS_Store
/site
staticfiles/
media/


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
local.py

# Environments
# .env
.venv
env/
venv/
ENV/


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# CI packages
reports/
htmlcov/
