dj-database-url==0.4.2
Django==1.11.4
django-crispy-forms==1.6.1
django-extensions==1.9.9
django-filter==1.0.4
django-import-export==0.5.1
django-taggit==0.22.2
djangorestframework==3.6.4
Pillow==4.3.0
psycopg2==2.7.3
py==1.5.2
python-decouple==3.1
pytz==2017.2
PyYAML==3.12
six==1.10.0
uWSGI==2.0.15
whitenoise==3.3.0
