body {
padding : 10px ;
}
/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
/*color : white;*/
  padding : 5px 15px;
}
