<form method="post" action="{% url 'operations:treatment_delete' treatment.id %}" class="js-treatment-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm treatment deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete treatment <strong>{{ treatment.patient }} {{ treatment.diagnosis }}</strong>? </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete Treatment</button>
  </div>
</form>
