<br/>
<p>
  <a href="{% url 'reception:in_patient' %}">
    <button type="button" class="btn btn-primary js-create-patient">
      <span class="glyphicon glyphicon-plus"></span>
      New In-Patient
    </button>
  </a>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
        <th>#</th>
        <th>Patient</th>
        <th>Date of Admission</th>
        <th>Date of Discharge</th>
        <th>Diagnosis</th>
        <th>Doctor</th>
        <th>Room</th>
    </tr>
  </thead>
  <tbody>
    {% for in_patient in in_patient_list%}
      <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ in_patient.patient }}</td>
          <td>{{ in_patient.date_of_adm }}</td>
          <td>{{ in_patient.date_of_discarge }}</td>
          <td>{{ in_patient.diagnosis }}</td>
          <td>{{ in_patient.doctor }}</td>
          <td>{{ in_patient.room }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7" class="text-center bg-warning">No In-Patient for display. We're terribly sorry.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
