{% extends 'malaika/base.html' %}

{% block title %} Patients {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="container jumbotron">
      {% if patient_list %}
        <h3>Patients</h3>

        <p>
          <a href="{% url 'reception:patient' %}">
            <button type="button" class="btn btn-primary js-create-patient">
              <span class="glyphicon glyphicon-plus"></span>
              New Patient
            </button>
          </a>
        </p>

        <table class="table table-bordered">
          <thead>
            <tr>
              <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Date of Birth</th>
                  <th>Age</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Address</th>
                  <th>Contact Number</th>
                  <th>Next of Kin</th>
              </tr>
            </tr>
          </thead>
        {% endif %}

          <tbody>
            {% for patient in patient_list%}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ patient.first_name }}</td>
                  <td>{{ patient.first_name }}</td>
                  <td>{{ patient.gender }}</td>
                  <td>{{ patient.dob }}</td>
                  <td>{{ patient.age }}</td>
                  <td>{{ patient.country }}</td>
                  <td>{{ patient.city }}</td>
                  <td>{{ patient.address }}</td>
                  <td>{{ patient.contact_no }}</td>
                  <td>{{ patient.next_of_kin }}</td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="11" class="text-center bg-warning">No Patient for display. We're terribly sorry.</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>

{% endblock content %}
