body{
  background-color: #eee;
}
.body-login{
  background-color: #eee;
}

.navbar-brand {
    font-family: 'Satisfy';
}
.grandLoginContainer{
    /*margin-top: 5%;*/
}
.loginContainer{
    margin-top: 5%;
    vertical-align: middle;
}

.footer {
    position: relative;
    bottom: 0;
    padding: 30px;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.modal-content{
  padding: 10px;
}
